html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: rgb(240, 240, 240);
    flex-wrap: wrap;

}

.top-div {
    display: flex;
    justify-content: space-around;
    /* position: fixed; */
    background-color: black;
    width: 100%;
    z-index: 100;
}

.img-div {
    width: 265px;
    height: 90px;
    padding: 20px 20px 20px 100px;
}

.tagline
{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(221, 221, 221);
    font-family: 'Tektur', cursive;
}
.links-div {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 40px;
    padding-right: 40px;
    position:relative;
}

.links a {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(220, 20, 60);
    opacity: 0.6;
    transition: all, 0.3s;
}

.links a:hover {
    opacity: 1;
    text-shadow: 0px 0px 6px crimson, 1px 1px 0px rgb(10, 9, 9);
    font-size: 45px;
}

#header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    position: sticky;
}

.textbox {
    font-size: 2rem;
    padding-left: 70px;
    text-align: justify;
}


@keyframes SlideInleft {
    0%
    {
        transform: translateX(-40px);
        color: rgb(199, 8, 8);
        opacity:1;
    }
    10%{
        transform: translateX(-20px);
        opacity:0.8;
    }
    20%
    {
        transform: translateX(0px);
        opacity:0.6;
    }
    30%
    {
        transform: translateX(20px);
        opacity:0.4;
    }
    40%
    {
        transform: translateX(30px);
        opacity:0.2;
    }
    50%
    {
        transform: translateX(40px);
        opacity:0;
    }
    60%
    {
        transform: translateX(30px);
    }
    70%
    {
        transform: translateX(20px);
    }
    80%
    {
        transform: translateX(0px);
    }
    90%
    {
        transform: translateX(-20px);
    }
    100%
    {
        transform: translateX(-40px);
    }
}

@keyframes imagechange {
    0%
    {
        transform: translateX(30px);

    }
    10%{
        transform: translateX(25px);
      
    }
    20%
    {
        transform: translateX(20px);
       
    }
    30%
    {
        transform: translateX(15px);
        
    }
    40%
    {
        transform: translateX(10px);
      
    }
    50%
    {
        transform: translateX(0px);
       
    }
    60%
    {
        transform: translateX(10px);
    }
    70%
    {
        transform: translateX(15px);
    }
    80%
    {
        transform: translateX(20px);
    }
    90%
    {
        transform: translateX(25px);
    }
    100%
    {
        transform: translateX(30px);
    }
}

.fstpageimg {
    animation-name: imagechange;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.textbox-heading1 {
    font-family: 'Tektur', cursive;
    text-align: center;
    font-size: 90px;
    animation-name: SlideInleft;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.textbox-heading2 {
    color: rgb(199, 8, 8);
    font-family: 'Tektur', cursive;
}
#ref-2,#ref-3
{
    margin:0px 0px 0px 0px;
    color:black;

}

#history-page {
    display: flex;
    align-items: center;
    height:100vh;
    
    padding-top:0px;

}

.history-image {
    opacity: 0.8;
    transition: all 0.3s;
   
}

.history-image:hover {
    opacity: 1;
}

.historybox {
    font-size: 2rem;
    padding-left: 15px;
}

.history-heading1 {
    text-align: center;
    color: rgb(199, 8, 8);
    font-family: 'Tektur', cursive;
    font-size: 90px;
    padding-bottom: 20px;
}

.history-heading2 {
    color: rgb(199, 8, 8);
    font-family: 'Tektur', cursive;
    font-size: 1.3em;
    margin-bottom: 10px;
}



/* ---------------------- */


.products-heading
{
    color: rgb(199, 8, 8);
    font-family: 'Tektur', cursive;
    font-size: 90px;
    font-weight:bold;
}
.sidetext
{
    font-family: 'Tektur', cursive;
    font-size: 35px;
}
#products {
    display: flex;
    flex-wrap: wrap;
}
.products
{
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    display: inline-block;
    height: 600px;
    width: 500px;
    object-fit: cover;
    margin:auto auto;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-out, filter 0.2s ease-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.overlay-heading
{
    font-family: 'Tektur', cursive;
    color: rgb(199, 8, 8);
    text-align: center;
    font-size:70px;
}
.overlay-text
{
    font-size:25px;
    text-align: justify;
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container:hover img {
    transform: scale(1.05);
    filter: blur(2px);
}